.postContainer {
    padding: 20px 40px 40px 40px;

    .addPost {
        margin-bottom: 24px;
        text-align: right;

        .add {
            padding: 10px 16px;
            border-radius: 4px;
            color: #fff;
            background-color: #3c8e6f;
            height: auto;
            font-weight: 700;
        }
    }
}