.pageWrapper {
    min-height: 100vh;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.mainWrapper {
    height: 100%;
    flex: 1;
}

.pageContent {
    flex: 1;
    background: #fff;
    background-color: transparent;
    height: calc(100vh - 81px);
    margin-top: 81px;
    overflow: auto;

    @media screen and (max-width: 600px) {
        height: 100vh;
        margin-top: 0px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #c4c4c4;
        border-radius: 210px;
        margin: 10px 0px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #607027;
        border-radius: 210px;
    }
}

//home
.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .homeContainer {
        margin-top: 70px;
        width: 80%;

        @media screen and (max-width: 992px) {
            width: 90%;
        }

        .carousel {
            margin-bottom: 80px;

        }

        .listArticle {
            margin-top: 40px;
        }

        .pagination {
            text-align: center;
            margin: 24px 0 24px 0;
        }
    }
}